<!DOCTYPE html>
<html>
  <head>
    <title>{{.Site.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Livvic:400,500&display=swap"
      rel="stylesheet"
    />
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }} {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | toCSS $options | resources.Minify }}
    <link href="{{ $style.Permalink }}" rel="stylesheet" />
  </head>
  <body>

    <section>

      <section>

        <!-- Nav and heading -->
        <section class="nav-container">
          <div class="bb b--light-gray cf">
            <a class="dib pointer link dn-ns pr2">☰</a>
            <a href="{{ .Site.BaseURL }}" class="dib pointer link black"
              ><strong>{{ .Site.Title }}</strong></a
            >
            <div class="fr dib">
              <a class="pointer dib" onclick="showCartOverlay()">
                <strong class="cart-count">Your Cart (<span id="cart-count">0</span>)</strong>
              </a>
            </div>
          </div>
        </section>

        {{ block "main" . }} {{end}}

        <footer class="footer-container">
          <div class="bt b--light-gray">
            <a href="http://shop440.com" class="link black dib pa3"
              >© Powered by shop440</a
            >
          </div>
        </footer>

      </section>

    </section>

    <!-- Shop440 SDK init -->
    <section id="sdk-body"></section>
    <script
     src="//merchants.shop440.com/sdk.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
    <script src="https://unpkg.com/quicklink@1.0.1/dist/quicklink.umd.js" type="text/javascript" ></script>
    <script>
    window.addEventListener('load', () =>{
        quicklink()
    });
    </script>

    <!-- <script -->
    <!--  src="//localhost:8000/sdk.js" -->
    <!--   type="text/javascript" -->
    <!--   charset="utf-8" -->
    <!-- ></script> -->
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
      function onCartCountChange(cartCount){
          document.getElementById("cart-count").innerHTML = cartCount
      }

      window.s440 = new window.shop440site({
        el: document.getElementById("sdk-body"),
        onCartCountChange: onCartCountChange,
        <!-- apiRoot: "http://localhost:8080" -->
      });
      function addProduct(shopID, slug, q) {
        var  quantity = 1
        var event = new CustomEvent("s440-add-to-cart", {
          detail: {
            slug: slug,
            shopId: shopID,
            quantity: quantity
          }
        });
        window.dispatchEvent(event);
      }

      function showCartOverlay(e) {
        window.dispatchEvent(new CustomEvent("s440-showOverlay"));
      }
    </script>
    <!-- end Shop440 SDK init -->

  </body>
</html>
