{{define "main"}}
<section class="grid-container">
  {{ range where .Site.RegularPages.ByPublishDate "Section" "products" }}
  <div>
    <div>
      {{ if not (eq .Params.images nil) }}
      <a href="{{ .RelPermalink }}" class="db">
        <img srcset={{ partial "imgresp.html" (dict "src" (index .Params.images 0).url "width" 200 "height" 250) }} />
      </a>
      {{ end }}
    </div>
    <div class="product-title">
      <div>
        <a
          href="{{ .RelPermalink }}"
          class="dib link black pointer product-title-main"
          ><strong>{{ .Params.title | title}}</strong></a
        >
      </div>
      <div>
        <span>
          {{ htmlUnescape "&#8358;" }}{{ int .Params.price |lang.NumFmt 2}}
        </span>
      </div>
    </div>
  </div>
  {{end}}
</section>
{{end}}
